<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN5TjbdGvNhftsxJca8OJ0MsqCuo9lJno</string>
	<key>GCM_SENDER_ID</key>
	<string>260516235160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruzzDigitalLogin</string>
	<key>PROJECT_ID</key>
	<string>fruzz-digital-login</string>
	<key>STORAGE_BUCKET</key>
	<string>fruzz-digital-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260516235160:ios:1dc03b8d05f6e7ecdd0ded</string>
</dict>
</plist>